footer.footer
    .footer__about 
        h3 About Us 
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco consectetur laboris.
        ul.footer__about__list 
            li.footer__about__item
                <i class="fab fa-facebook-f"></i>
            li.footer__about__item
                <i class="fab fa-twitter"></i>
            li.footer__about__item
                <i class="fab fa-pinterest-p"></i>
            li.footer__about__item
                <i class="fab fa-instagram"></i>
    .footer__service
        h3 Our Services 
        ul.footer__service__list 
            li.footer__service__item IT Solution
            li.footer__service__item Web Development
            li.footer__service__item Networking Services
            li.footer__service__item SEO Optimization
            li.footer__service__item App Optimization
    
    .footer__useful 
        h3 Useful Link 
        ul.footer__useful__list 
            li.footer__useful__item About Us
            li.footer__useful__item Case Study 
            li.footer__useful__item Contact Us 
            li.footer__useful__item Privacy Policy 
            li.footer__useful__item Terms & Conditions 
    .footer__contact 
        h3 Contact Info 
        ul.footer__contact__list 
            li.footer__contact__item 
                i.fas.fa-phone-alt 
                p 080 707 555-321  
            li.footer__contact__item
                i.fas.fa-envelope
                p demo@example.com
            li.footer__contact__item
                i.fas.fa-map-marker-alt
                p 526 Melrose Street, Water Mill, 11976 New York