header.header
    div.header__logo
        img.header__logo__image(src="./img/logo-black.png", alt="Logo image")
    nav.header__nav 
        ul.header__list 
            li.header__item
                a.header__link(href="") Home
                    <i class="fa-sharp fa-solid fa-angle-down header__icon"></i>
                ul.list__home.header__item__list   
                    li.item__home
                        a.item__home__link(href="") Home1
                    li.item__home
                        a.item__home__link(href="") Home2
            li.header__item
                a.header__link(href="") About Us
            li.header__item
                a.header__link(href="") Services
                    <i class="fa-sharp fa-solid fa-angle-down header__icon"></i>
                ul.list__service.header__item__list
                    li.item__service
                        a.item__service__link(href="") Services
                    li.item__service
                        a.item__service__link(href="") Services Detail
            li.header__item
                a.header__link(href="") Projects
                    <i class="fa-sharp fa-solid fa-angle-down header__icon"></i>
                ul.list__project.header__item__list
                    li.item__project
                        a.item__project__link(href="") Projects
                    li.item__project
                        a.item__project__link(href="") Projects Detail
            li.header__item
                a.header__link(href="") Pages
                    <i class="fa-sharp fa-solid fa-angle-down header__icon"></i>
                ul.list__page.header__item__list   
                    li.item__page
                        a.item__page__link(href="") About Us
                    li.item__page
                        a.item__page__link(href="") Team
                    li.item__page
                        a.item__page__link(href="") Pricing
                    li.item__page
                        a.item__page__link(href="") 404 Error
                    li.item__page
                        a.item__page__link(href="") FAQ
                    li.item__page
                        a.item__page__link(href="") Coming Soon
                    li.item__page
                        a.item__page__link(href="") Term & Conditions
                    li.item__page
                        a.item__page__link(href="") Privacy Policy
            li.header__item
                a.header__link(href="") Blog
                    <i class="fa-sharp fa-solid fa-angle-down header__icon"></i>
                ul.list__blog.header__item__list   
                    li.item__blog
                        a.item__blog__link(href="") Blog Grid
                    li.item__blog
                        a.item__blog__link(href="") Blog Right Sidebar
                    li.item__blog
                        a.item__blog__link(href="") Blog Details
            li.header__item
                a.header__link(href="") Contact
    a.header__link--support(href="") Get It Support
    a.header__btn--menu(href="")
        <i class="fa-sharp fa-solid fa-bars"></i>
    